# Módulos Node.js
node_modules

# Arquivos de build ou output
dist
build
out

# Logs
src/log/*
src/daemon

#api-token 
src/function/apiConnection.js

# Ignorar o arquivo NFeConfig.txt no diretório src/config/
src/config/NFeConfig.txt

# Ignorar todos os arquivos dentro de src/config/logs/
src/config/logs/*
