# Módulos Node.js
node_modules

# Arquivos de build ou output
dist
build
out

# Logs
src/log/*
src/daemon


#api-token 
src/function/apiConnection.js

#config de sincronização
src/config/NFeConfig.txt



